#!/usr/bin/env bash
set -e

REPO_URL={{ master.repository }}
REPO_DIR=deployment

if [ -d "${REPO_DIR}/" ] && [ -d "${REPO_DIR}/.git/"  ]
then
	cd "${REPO_DIR}"
	git reset --hard HEAD
	git remote update -p
	git merge --ff-only @{u}
else
	git clone "${REPO_URL}" "${REPO_DIR}"
fi
