#!/usr/bin/env bash
set -e

# set the playbook
PLAYBOOK=$1

# optional: limit the playbook to specific hosts or groups
if [ ! -z "$2" ]; then
    LIMIT="-l $2"
fi

# run the provisioning
cd deployment
ansible-playbook -i {{ master.inventory }} ${LIMIT} ${PLAYBOOK}
